.type-chips {
  align-items: flex-start;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2px 8px;
  position: relative;
}

.type-chips .type {
  color: var(--grayscalewhite);
  font-family: var(--header-subtitle-3-font-family);
  font-size: var(--header-subtitle-3-font-size);
  font-style: var(--header-subtitle-3-font-style);
  font-weight: var(--header-subtitle-3-font-weight);
  letter-spacing: var(--header-subtitle-3-letter-spacing);
  line-height: var(--header-subtitle-3-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.type-chips.psychic {
  background-color: var(--pokemon-typepsychic);
}

.type-chips.electric {
  background-color: var(--pokemon-typeelectric);
}

.type-chips.dark {
  background-color: var(--pokemon-typedark);
}

.type-chips.unknown {
  background-color: var(--grayscalemedium);
}

.type-chips.bug {
  background-color: var(--pokemon-typebug);
}

.type-chips.fairy {
  background-color: var(--pokemon-typefairy);
}

.type-chips.rock {
  background-color: var(--pokemon-typerock);
}

.type-chips.dragon {
  background-color: var(--pokemon-typedragon);
}

.type-chips.water {
  background-color: var(--pokemon-typewater);
}

.type-chips.flying {
  background-color: var(--pokemon-typeflying);
}

.type-chips.ghost {
  background-color: var(--pokemon-typeghost);
}

.type-chips.fighting {
  background-color: var(--pokemon-typefighting);
}

.type-chips.fire {
  background-color: var(--pokemon-typefire);
}

.type-chips.ice {
  background-color: var(--pokemon-typeice);
}

.type-chips.poison {
  background-color: var(--pokemon-typepoison);
}

.type-chips.normal {
  background-color: var(--pokemon-typenormal);
}

.type-chips.grass {
  background-color: var(--pokemon-typegrass);
}

.type-chips.ground {
  background-color: var(--pokemon-typeground);
}

.type-chips.steel {
  background-color: var(--pokemon-typesteel);
}
