
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.App-link {
  color: #2c2c2c;
}

a:link {
	color: #3B4CCA;
	background-color: transparent;
	text-decoration: underline;
	}
	a:visited {
	color: #3B4CCA;
	background-color: transparent;
	text-decoration: underline;
	}
	a:hover {
	color: #3B4CCA;
	background-color: transparent;
	text-decoration: underline;
	}

.pokeType {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
}

.pokeType .group {
  background-color: grey;
  color: white;
  align-items: center;
  padding: 0.15rem;
  padding-top: 0.15rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
  margin-right: 0.5rem;
}

.pokeType .group:last-child {
  margin-right: 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
