a:link {
	color: #3B4CCA;
	background-color: transparent;
	text-decoration: underline;
	}
	a:visited {
	color: #3B4CCA;
	background-color: transparent;
	text-decoration: underline;
	}
	a:hover {
	color: #3B4CCA;
	background-color: transparent;
	text-decoration: underline;
	}

.pokeType {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
}

.pokeType .group {
  background-color: grey;
  color: white;
  align-items: center;
  padding: 0.15rem;
  padding-top: 0.15rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
  margin-right: 0.5rem;
}

.pokeType .group:last-child {
  margin-right: 0;
}
